venv
catboost_info
public_eda_pipeline.py
sample_submit.parquet 
submission_smart_fe_V0_raw.parquet
xgb_best_params.json
lgb_best_params.json
submission_raw.parquet
submission.parquet
train_target.parquet
sample_submit.parquet
train_main_features.parquet
test_main_features.parquet
submission.parquet
submission_raw.parquet
submission_smart_fe_V0_raw.parquet
tree_nan_train.parquet
tree_nan_test.parquet
tree_zero_train.parquet
tree_zero_test.parquet
linear_train.parquet
linear_test.parquet
